config.cache
config.h
config.log
config.status
Makefile
intl/libintl.h
intl/po2tbl.sed
Makefile.in
po/POTFILES
src/arconv
src/cnm
src/csize
src/cstrip
src/flags
src/mintbin
src/stack
src/symex
stamp-h
*.o
*.a
*~
