aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in.orig
config.log
config.status
Makefile
intl/libintl.h
intl/po2tbl.sed
Makefile.in
po/POTFILES
src/arconv
src/cnm
src/csize
src/cstrip
src/flags
src/mintbin
src/stack
src/symex
src/stripex
stamp-*
.deps
*.o
*.a
*~
